**/old/**
*.7z
*.csv
*.ini
*.json
*.log
*.log_2
*.pyc
*.rar
*.sql
*.tmp.py
*.txt
*.zip
*/.gitx/**
*/__pycache__/**
*/back/**
*/pywikibot.py
.pylintrc
databasebackup/**
df.py
imp.sh
import.py
import_xml.py
tw/twet_config.py
w.xml
*.json1
mass/radiox/**
ncc_core/nc_import/long_bots.py
/mass/eyerounds/htmls
/fix_mass/fix_sets/studies_done
/fix_mass/fix_sets/has_url
/tutorial
mass/usaid/.env
*.sqlite
/infos
fix_mass/fix_sets/has_url
mass/usask/usask.html
ncc_core/nc_import/public_html‏‏-ncc-Tables.lnk
ncc_core/nc_import/README.md
/logs_fix/has_url
/logs_fix/has_url
requirements.in1
/sets_dbs/dp_infos/copy
fix_sets/name_bots/Copy of upload_to_api.py
