**/old/**
*.7z
*.csv
*.ini
*.json
*.log
*.log_2
*.pyc
*.rar
*.sql
*.tmp.py
*.txt
*.zip
*/.gitx/**
*/__pycache__/**
*/back/**
*/pywikibot.py
.pylintrc
databasebackup/**
df.py
imp.sh
import.py
import_xml.py
tw/twet_config.py
w.xml
*.json1
mass/radiox/**
/mass/eyerounds/htmls
/fix_mass/fix_sets/studies_done
/fix_mass/fix_sets/has_url
/tutorial
mass/usaid/.env
*.sqlite
/infos
fix_mass/fix_sets/has_url
mass/usask/usask.html
/logs_fix/has_url
/logs_fix/has_url
requirements.in1
